body{
  text-align: center;
  margin: 0;
  font-family:  cursive;
  font-size: 20px;
}
.allinone{
  background-color: #99FEFF;
  padding-top: 150px;

}
.top{
  margin: 20px auto 0 auto;
color:#000000;
  font-size: 8rem;
  font-family: 'Sacramento', cursive;
}
h2{
  color: #11999e;
  font-family: Quicksand;
  font-size:3rem;

}
h3 {
  color: #11999e;
  font-family: Quicksand;
  font-size:28px;
}

.hello{
  margin-bottom: 50px;
}
hr{
  border: dotted #79B4B7 6px;
  width: 7%;
  border-bottom: none;
  margin: 100px auto;
}
.me{
  width: 60%;
  margin: auto;
}
.pp{
  font-size:2.5rem;
  font-family: cursive;
}

p{
  line-height: 1.6;
}

.profile{
  width: 50%;
margin: auto ;
}


.skill-row{
  width: 50%;
  text-align: left;
    margin: 100px auto 200px auto;
    line-height: 1;
}


.webdev{
margin-top: 0;
  padding-top:0;
}


.hacker{
  width: 40%;
  margin: 20px auto;

}


.gifee{
  width:25%;
    float: left;
      margin-right: 30px;
}


.climbing{
  width: 25%;
    float: right;
    margin-left: 30px;
}



/* c 1  */
.cloud1{
position: absolute;
right: 350px;
top: 70px;
width: 200px;
}



.cloud2{
  position: absolute;
  left: 12em;
  width:12%;

}


.contect-meee{
  width: 40%;
  margin: 50px auto 100px;
}
.bottom-container{
  margin: 50px auto 0;
  background-color:  #55e6d3;
  padding:50px 0 20px;
}

.mount{
  position: relative;
  display: inline;
  width: 40%;
}

a{
  font-family:  cursive;
    color:#22577A;
  margin: 10px 20px;
  text-decoration: none;
}

.footer-link:hover{
  color:#eaf6f6;
}
.btn {

  background: #55e6d3;
  background-image: -webkit-linear-gradient(top, #55e6d3, #28b7eb);
  background-image: -moz-linear-gradient(top, #55e6d3, #28b7eb);
  background-image: -ms-linear-gradient(top, #55e6d3, #28b7eb);
  background-image: -o-linear-gradient(top, #55e6d3, #28b7eb);
  background-image: linear-gradient(to bottom, #55e6d3, #28b7eb);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Quicksand;
  color: #ffffff;
  font-size: 25px;
  padding: 12px 25px 12px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
